{{#each this}}

{{#if title}}
<li class="films-item" data-id={{id}} data-mediatype="movie">
  {{else}}
<li class="films-item" data-id={{id}} data-mediatype="TV">
  {{/if}}
  <button class="button_icon button_icon-star">
    {{#if toBeColored}}
    <svg data-id={{id}} class="icon icon-star fill-gold">
      {{else}}
      <svg data-id={{id}} class="icon icon-star fill-white">
        {{/if}}
        <use href="../img/icons/sprite.svg#star"></use>
      </svg>
  </button>
  <a href="about.html">
    <div class="img-container">
      {{#if backdrop_path}}
      <img class="img-sample" src="https://image.tmdb.org/t/p/original/{{backdrop_path}}" alt="movie" />
      {{else}}
      <img class="img-sample"
        src="https://comers.com.ua/wp-content/uploads/2018/05/goit.jpg"
        alt="movie" />
      {{/if}}
      <div data-id={{id}} class="gradient">
        <p class="imbd"> Imdb {{vote_average }}</p>
      </div>
    </div>
    {{#if title}}
    <p id="film_name" class="films-name">{{title}} <span id="film_date">({{release_date}})</span></p>
    {{else}}
    <p id="film_name" class="films-name">{{original_name}} <span id="film_date">({{first_air_date}})</span> </p>
    {{/if}}
    {{!-- <p class="films-name">{{title}} ({{release_date}})</p> --}}
  </a>
</li>

{{/each}}
